<div class="container">
  <div class="d-flex justify-content-between align-items-center py-3" style="margin-top: 58px;">
    <h1 class="mb-3">{{ feeTemplate_id ? 'Изменение шаблона' : 'Добавление шаблона' }}</h1>
    <div class="">
      <button (click)="back()" type="button" class="btn btn-outline-secondary me-3 mb-2 mt-2">Назад</button>
      <button *ngIf="!feeTemplate_id" (click)="create()" type="button" class="btn btn-outline-primary">Сохранить</button>
      <button *ngIf="feeTemplate_id" (click)="delete()" type="button" class="btn btn-outline-secondary me-3 mb-2 mt-2">Удалить</button>
      <button *ngIf="feeTemplate_id" (click)="update()" type="button" class="btn btn-outline-primary mb-2 mt-2">Сохранить</button>
    </div>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6">
      <div class="card">
        <div class="card-body p-3">
          <div *ngIf="loading" class="cardLoading">
            <div class="spinner-border spinner" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
          <div *ngIf="!loading" class="row gx-3 gy-4">
            <div class="col-12">
              <app-input [control]="getControl(formGroup, 'name')" [label]="'Название'"></app-input>
            </div>

            <div class="col-7">
              <app-input [control]="getControl(formGroup, 'sum')" [mask]="'separator.2'" [label]="'Сумма'"></app-input>
            </div>
            <div class="col-5">
              <select [formControl]="getControl(formGroup, 'currancy')" class="form-select amount__select">
                <option *ngFor="let option of currancyOptions" [value]="option.id">{{ option.name }}</option>
              </select>
            </div>
            <div class="col-12">
              <select [formControl]="getControl(formGroup, 'apartament_id')" class="form-select">
                <option disabled value="null">Квартира</option>
                <option *ngFor="let option of apartamentOptions$ | async" [value]="option.id">{{ option.name }}</option>
              </select>
            </div>
            <div class="col-6">
              <select [formControl]="getControl(formGroup, 'month')" class="form-select">
                <option value="null" disabled>Месяц</option>
                <option value="1">Январь</option>
                <option value="2">Февраль</option>
                <option value="3">Март</option>
                <option value="4">Апрель</option>
                <option value="5">Май</option>
                <option value="6">Июнь</option>
                <option value="7">Июль</option>
                <option value="8">Август</option>
                <option value="9">Сентябрь</option>
                <option value="10">Октябрь</option>
                <option value="11">Ноябрь</option>
                <option value="12">Декабрь</option>
              </select>
            </div>
            <div class="col-6">
              <select [formControl]="getControl(formGroup, 'year')" class="form-select">
                <option value="null" disabled>Год</option>
                <option *ngFor="let option of yearOptions" [value]="option.id">{{ option.name }}</option>
              </select>
            </div>
            <div class="col-12">
              <app-input [control]="getControl(formGroup, 'description')" [label]="'Описание'"></app-input>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
