ul { margin: 0; padding: 0; list-style: none;}
li {
  display: inline-block;
  border: 1px solid #ccc;
  width: calc(100%/7 - 2px);
  text-align: center;
  cursor: pointer;
}
li.days {font-weight: bold;}
li.grey {color: #ccc}
li.isset { background-color: #54b4d3;}
li:hover {background-color: #ccc;}

.currancyCalendar{
  &__day{
    // min-height: 45.2px;
    &__dayDate{
      font-size: 12px;
      text-align: right;
      padding: 3px;
      line-height: 1;
    }
    &__currancy{
      font-size: 14px;
    }
  }
}
.innerSourceCurrancy__select{
  width: 144px;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}
