<div class="mb-2">

  <ng-container *ngIf="sourceCurrancy; else sourceCurrancySelect">
    {{ getCurrancyShortName(innerSourceCurrancy.value) }}
  </ng-container>
  <ng-template #sourceCurrancySelect>
    <!-- <select [ngModel]="innerSourceCurrancy" class="form-select innerSourceCurrancy__select">
      <option *ngFor="let option of currancyOptions" [value]="option.id">{{ option.name }}</option>
    </select> -->
    <div class="row">
      <div class="col-12 col-md-6">
        <app-select
          [label]="'Из какой валюты'"
          [control]="innerSourceCurrancy"
          [options]="currancyOptions"
          [resetable]="true"
        ></app-select>
      </div>
      <div class="col-12 col-md-6">
        <app-input [label]="'В какую валюту'" [readonly]="true"
        [value]="getCurrancyShortName(destinationCurrancy)"></app-input>
      </div>
    </div>

  </ng-template>

  > {{ getCurrancyShortName(destinationCurrancy) }} на {{ date | date:'dd.MM.yy' }}:
  <span>
    {{ getCurrentDayExchangeRate (date) || 'нет данных' }}
  </span>
</div>
<!-- {{ date | date:'MMMM' }} -->
<ul class="currancyCalendar">
  <li class="days" *ngFor="let day of days"> {{ day }} </li>
  <li *ngFor="let dayDate of dates"
    class="currancyCalendar__day"
    [class.isset]="isset(dayDate)"

    (click)="selectDay(dayDate)">
    <div class="currancyCalendar__day__dayDate">
      {{ dayDate | date:'d' }}
    </div>
    <div class="currancyCalendar__day__currancy">
      {{ getCurrentDayExchangeRate (dayDate) || '-' }}
    </div>

  </li>
</ul>

