ul { margin: 0; padding: 0; list-style: none;}
li {
  display: inline-block;
  border: 1px solid #fff;
  width: calc(100%/7 - 2px);
  text-align: center;
  cursor: pointer;
}
li.days {font-size: 10px;}
li.grey {color: #ccc}
li.isset {
  background-color: rgb(199, 245, 217);
&:hover{
  background-color: rgb(220, 245, 230);
}
}
li:hover {  }

.currancyCalendar{
  &__day{
    // min-height: 45.2px;
    &__dayDate{
      font-size: 11px;
      color: #4f4f4f;
      padding: 3px;
      line-height: 1;
      // margin-right:5px;
    }
    &__currancy{
      font-size: 12px;
    }
  }
}
.innerSourceCurrancy__select{
  width: 144px;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}
