<div class="col-12 col-md-6 col-lg-4 apartament">
  <label class="apartament__label">
    <i class="fas fa-home d-inline d-md-none"></i>
    <span class="d-none d-md-inline">Квартира</span>
  </label>
  <select [formControl]="apartament_id" class="form-select apartament__select">
    <option *ngFor="let option of apartamentOptions$ | async" [value]="option.id"
    >{{ option.name }}</option>
  </select>
</div>

<table class="table align-middle mt-2 mb-0 bg-white">
  <thead class="bg-light">
    <tr>
      <th>Имя</th>
      <th>Email</th>
      <th>Статус</th>
      <th>Доступ</th>
      <th></th>
    </tr>
  </thead>
  <tbody *ngIf="tableLoading$ | async" class="tbodyLoading">
    <tr>
      <td colspan="3">
        <div class="spinner-border spinner" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </td>
    </tr>
  </tbody>
  <tbody *ngIf="!(tableLoading$ | async)">
    <tr *ngFor="let item of (items$ | async)">
      <td>
        {{ item.user_details.name }}
      </td>
      <td>
        {{ item.user_details.email }}
      </td>
      <td>
        <div class="form-check form-switch">
          <input
            mdbCheckbox
            class="form-check-input"
            type="checkbox"
            id="flexSwitchCheckDefault"
            [checked]="item.status === 1"
            (change)="changeStatus(item, 'status')"
          />
          <label class="form-check-label ms-2"
          [class.text-success]="item.status === 1"
          [class.text-warning]="item.status === 0"
          for="flexSwitchCheckDefault"
            >{{ item.status === 1 ? 'Включен' : 'Отключен' }}</label
          >
        </div>
      </td>
      <td>
        <div class="form-check form-switch">
          <input
            mdbCheckbox
            class="form-check-input"
            type="checkbox"
            id="flexSwitchCheckDefault"
            [checked]="item.role === 2"
            (change)="changeStatus(item, 'role')"
          />
          <label class="form-check-label ms-2"
          [class.text-success]="item.role === 1"
          [class.text-warning]="item.role === 2"
          for="flexSwitchCheckDefault"
            >{{ item.role === 1 ? 'Может смотреть' : 'Может редактировать' }}</label
          >
        </div>
      </td>
      <td>
        <!-- <a [routerLink]="['update', item.id]" class="link me-2" [routerLinkActive]="['routerLinkIsActive']">
          <i class="fas fa-pen fa-lg me-2" style="color:#797979"></i>
        </a> -->
        <a class="alink ms-1" (click)="deleteItem(item.id)">
          <i class="far fa-times-circle fa-lg" style="color:#797979"></i>

        </a>
      </td>
    </tr>
  </tbody>
</table>
