/* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon {
  color: #fff;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon {
  color: #4f4f4f;
}

/* Color of the navbar AFTER scroll */
.navbar-scrolled {
  background-color: #fff;
}

/* An optional height of the navbar AFTER scroll */
.navbar.navbar-scroll.navbar-scrolled {
  padding-top: 5px;
  padding-bottom: 5px;
}
::ng-deep .alink{
  cursor:pointer;
}

::ng-deep .cardLoading{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
::ng-deep .spinner{
  color:#5069ee;
}

::ng-deep .flexColumnBetweenEnd{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}

::ng-deep .flexRowBetweenCenter{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

::ng-deep .flexRowCenterCenter{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
::ng-deep .form-select{
  height: 36px;
}
::ng-deep #apartamentFeeListTable{
  // box-shadow: 0px 0px 16px 0px #00000042;
  box-shadow: 0px 0px 16px 0px #0b37a938;

  border-radius: 4px;
  overflow: hidden;
  & > thead > tr > th{
    padding-left: 7px;
    padding-right: 0;
    border-bottom-width: none;
    border:none;
  }
  & > tbody > tr > td{
    padding: 0;
    padding-left: 7px;
    border-bottom-width: none;
    border:none;
  }
  & > tbody > tr:hover{
    background: #8781d12e;
  }
}
::ng-deep body{
  // background-color: #c0d9fe;
}

::ng-deep .popoverHiddenTrigger{
  opacity: 0;
  height: 0;
  line-height: 0;
  padding: 0;
  font-size: 0;
  margin-left:200px;
  position: absolute;
}

::ng-deep .tbodyLoading{
  text-align: center;
  height: 200px;
}
::ng-deep .spinner{
  color:#5069ee;
}

::ng-deep .select{
  &__wrapper{
    border:initial;
    position: relative;
    & .form-select{
      border: 1px solid grey;
    }
    &  .form-control~.form-label{
        position: absolute;
        top:7px;
        background-color: #fff;
        line-height: 11px;
        max-width: 90%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        left: 0.35rem;
        padding-top: 0.37rem;
        padding-left: 3px;
        padding-right: 3px;
        pointer-events: none;
        transform-origin: 0 0;
        transition: all .2s ease-out;
        color: rgba(0,0,0,.6);
        margin-bottom: 0;
    }
    &  .form-control:focus~.form-label{
      top: -2px!important;
      transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
      transition: transform 0.1s ease-in-out;
      background-color: #fff;
    }
  }
  &__closeBtn{
    position: absolute;
    right: 30px;
    top: 7px;
    color: #c1c1c1;
  }
}

::ng-deep select {
  -webkit-appearance: none!important;
  -moz-appearance: none!important;
  background: transparent!important;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>")!important;
  background-repeat: no-repeat!important;
  background-position-x: calc(100% - 6px)!important;
  background-position-y: 7px!important;
  border: 1px solid #dfdfdf!important;
  background-size: 17px 18px!important;
}
