<button (click)="reloadPage()">reload</button>

<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
  <div class="container-fluid">
    <button
      #navbarToggler
      class="navbar-toggler"
      type="button"
      (click)="fixedNavbar.toggle()"
      aria-controls="fixedNavbar"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <div
      mdbCollapse
      #fixedNavbar="mdbCollapse"
      class="collapse navbar-collapse"
      id="fixedNavbar"
    >
      <ul class="navbar-nav me-auto mb-lg-0">
        <!-- <li class="nav-item active">
          <a class="nav-link" [routerLink]="''" [routerLinkActive]="['active']">Главная</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'apartament'" [routerLinkActive]="['active']">Квартиры</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'apartament/apartamentFee/all'" [routerLinkActive]="['active']">Счета</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'feeTemplate'" [routerLinkActive]="['active']">Шаблоны счетов</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" [routerLink]="'organization'" [routerLinkActive]="['active']">Организации</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'organizationTariff'" [routerLinkActive]="['active']">Услуги</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'moneyTransfer'" [routerLinkActive]="['active']">Переводы</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'exchangeRate'" [routerLinkActive]="['active']">Курсы валют</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" [routerLink]="'apartamentUser'" [routerLinkActive]="['active']">Пользователи</a>
        </li> -->
      </ul>
      <!-- <button *ngIf="isDevMode" (click)="toggleMock()">tglMck</button> -->
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li>
          <app-locale-switcher></app-locale-switcher>
        </li>
        <li class="nav-item active">
          <a class="nav-link alink" (click)="logout()">{{ isLoggedIn ? 'Выход' : 'Вход' }}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<div class="versionWrapper">{{version}}</div>
<app-message-list></app-message-list>
