<h2>Поиск пользователя</h2>
<input type="text" placeholder="email" [(ngModel)]="user_email">
<br>
<button (click)="findUserByEmail()">Найти пользователя по email</button>

<h2>Создание</h2>
<input type="text" placeholder="apartament_id" [(ngModel)]="apartament_id">
{{ apartament_name }}
<input type="text" placeholder="user_id" [(ngModel)]="user_id">
{{ user_name }}

<button (click)="create()">Создать</button>
<br>

<h2>Получение</h2>
<button (click)="read()">Получить</button>
<br>
<ul>
  <li *ngFor="let item of items">
    {{ item.id + ' | ' + item?.user_details?.name }}
    <button (click)="placeToUpdate(item)">Обновить</button>
    <button (click)="delete(item.id)">Удалить</button>
  </li>

</ul>
<br>
<h2>Обновление</h2>
<input type="text" placeholder="Название" [(ngModel)]="update_id">
<input type="text" placeholder="Название" [(ngModel)]="update_name">
<input type="text" placeholder="Адрес" [(ngModel)]="update_address">
<button (click)="update()">Обновить</button>
