.avatar{
  width: 45px;
  height: 45px;
  max-width: 45px;
  min-width: 45px;
  max-height: 45px;
  min-height: 45px;
}
.tbodyLoading{
  text-align: center;
    height: 200px;
}
.tableSpinner{
  color:#5069ee;
}
