#apartamentFeeListTable{
  & thead th{
    vertical-align: middle;
  }
  & tr td{
    width: 90px;
    max-width: 110px;
  }
  & tr td:first-child{
    max-width:45px;
  }
  & tr td:not(:last-child):not(.currancyTdWrapper){
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-wrap: break-word;
  }
  & tr td:nth-child(2){
    min-width: 200px;
  }
  & tr td:last-child{
    min-width: 90px;
  }
}

.thSort{
  margin-right: 5px;
}

.currancy{
  font-size: 10px;
  font-weight: 400;
}
.currancyTd{
  &__initialCurrancy{
    font-size: 11px;
    margin-left: 4px;
  }
}
