<table id="apartamentFeeListTable" class="table align-middle mb-0 bg-white">
  <thead class="bg-light">
    <tr>
      <th scope="col">
        <a *ngIf="selectedItemsSet.size > 0" (click)="deleteSelected()">
          <i class="fas fa-trash-alt fa-lg" style="color:#797979"></i>
          <span class="badge rounded-pill badge-notification bg-danger">{{ selectedItemsSet.size }}</span>
        </a>
      </th>
      <th>
        <div class="select__wrapper">
          <div class="select__closeBtn">
            <i class="fas fa-times" (click)="filterFormGroupResetControl('name')"></i>
          </div>
          <select class="form-control form-select" [formControl]="name">
            <option *ngFor="let item of nameOptions"
            [value]="item.name">{{ item.name }}</option>
          </select>
          <!-- <label [class.form-floating-label]="name.value" class="form-label select-label " style="margin-left: 0px;">Название</label> -->
        </div>
      </th>
      <th>
        <span class="alink thSort" (click)="tableSort('sum')">Сумма</span>
        <span class="sortWrap" (click)="tableSort('sum')">
          <i class="sortUp fas fa-sort-up"
          [class.active]="sortFormGroup.controls['sum'].value === 1"
          ></i>
          <i class="sortDonw fas fa-sort-down"
          [class.active]="sortFormGroup.controls['sum'].value === -1"
          ></i>
        </span>

      </th>
      <th class="flexRowCenterCenter">
        <div class="select__wrapper">
          <div class="select__closeBtn">
            <i class="fas fa-times" (click)="filterFormGroupResetControl('month')"></i>
          </div>
          <select class="form-control form-select" [formControl]="month">
            <option value="1">Январь</option>
            <option value="2">Февраль</option>
            <option value="3">Март</option>
            <option value="4">Апрель</option>
            <option value="5">Май</option>
            <option value="6">Июнь</option>
            <option value="7">Июль</option>
            <option value="8">Август</option>
            <option value="9">Сентябрь</option>
            <option value="10">Октябрь</option>
            <option value="11">Ноябрь</option>
            <option value="12">Декабрь</option>
          </select>
          <label [class.form-floating-label]="month.value" class="form-label select-label " style="margin-left: 0px;">Месяц</label>
        </div>
        <!-- <span class="alink thSort" (click)="tableSort('month')">Месяц</span> -->
        <span class="sortWrap" (click)="tableSort('month')" *ngIf="!month.value">
          <i class="sortUp fas fa-sort-up"
          [class.active]="sortFormGroup.controls['month'].value === 1"
          ></i>
          <i class="sortDonw fas fa-sort-down"
          [class.active]="sortFormGroup.controls['month'].value === -1"
          ></i>
        </span>
      </th>
      <th>
        <div class="select__wrapper">
          <div class="select__closeBtn">
            <i class="fas fa-times" (click)="filterFormGroupResetControl('year')"></i>
          </div>
          <select class="form-control form-select" [formControl]="year">
            <option *ngFor="let item of yearOptions"
            [value]="item.name">{{ item.name }}</option>
          </select>
          <label [class.form-floating-label]="year.value" class="form-label select-label " style="margin-left: 0px;">Год</label>
        </div>
      </th>
      <th *ngIf="!apartament_id">
        Квартира
      </th>
      <th>
        <span class="alink thSort" (click)="tableSort('paidDate')">Оплачено</span>
        <span class="sortWrap" (click)="tableSort('paidDate')">
          <i class="sortUp fas fa-sort-up"
          [class.active]="sortFormGroup.controls['paidDate'].value === 1"
          ></i>
          <i class="sortDonw fas fa-sort-down"
          [class.active]="sortFormGroup.controls['paidDate'].value === -1"
          ></i>
        </span>
        </th>
      <th>
        <span class="alink thSort" (click)="tableSort('created_at')"><i class="far fa-clock"></i></span>
        <span class="sortWrap" (click)="tableSort('created_at')">
          <i class="sortUp fas fa-sort-up"
          [class.active]="sortFormGroup.controls['created_at'].value === 1"
          ></i>
          <i class="sortDonw fas fa-sort-down"
          [class.active]="sortFormGroup.controls['created_at'].value === -1"
          ></i>
        </span>

      </th>
    </tr>
  </thead>
  <tbody *ngIf="tableLoading$ | async" class="tbodyLoading">
    <tr>
      <td colspan="7">
        <div class="spinner-border spinner" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </td>
    </tr>
  </tbody>
  <tbody *ngIf="!(tableLoading$ | async)">
    <tr *ngFor="let item of (items$ | async)">
      <td scope="col">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="false" (click)="selectItem(item.id)" id="flexCheckDefault" />
        </div>
      </td>
      <td class="alink" [routerLink]="['update', item.id]">
        {{ item.name }}
      </td>
      <td class="currancyTd">
        <ng-template [ngIf]="currancy === item.currancy">
          {{ item.sum }}
        </ng-template>
        <ng-template [ngIf]="currancy !== item.currancy">
          <div class="flexRowBetweenCenter">
            {{ item | getCurrancy:'currancy':'sum':currancy | number:'.0-2' }}
            <div>
              <span class="currancyTd__initialCurrancy"
              >({{ item.sum }} {{ item | getCurrancy:'currancy' }})</span>
            </div>

          </div>
        </ng-template>

      </td>
      <td>
        {{ item.month | humanMonth }}
      </td>
      <td>
        {{ item.year }}
      </td>
      <td *ngIf="!apartament_id">
        {{ item.apartament?.name }}
      </td>
      <td>
        <container-element [ngSwitch]="item.paid">
          <span *ngSwitchCase="1"
            class="badge badge-success rounded-pill d-inline">{{ (item.paidDate | date:'dd.MM.YYYY') ?? 'Оплачено' }}</span>
          <span *ngSwitchCase="0"
            class="badge badge-warning rounded-pill d-inline">Не оплачено</span>
        </container-element>
      </td>
      <td>
        <a [routerLink]="['update', item.id]" class="link me-2">
          <i class="fas fa-pen fa-lg me-1" style="color:#797979"></i>
        </a>
        <a class="alink me-2" (click)="copyApartamentFee(item.id)">
          <i class="far fa-copy fa-lg" style="color:#797979"></i>
        </a>
        <a class="alink ms-1"
          mdbPopoverTitle="Удалить выбранный счет?"
          [mdbPopover]="template"
          (popoverShow)="deleteConfirmOnOpen($event)"
          >
          <i class="fas fa-trash-alt fa-lg" style="color:#797979"></i>
        </a>
        <ng-template #template>
          <div class="flexColumnBetweenEnd">
            Это действие необратимо
          <div class="mt-3">
            <button class="btn btn-outline-secondary me-3" (click)="deleteConfirm(false, item.id)">Отмена</button>
            <button class="btn btn-outline-success" (click)="deleteConfirm(true, item.id)">Удалить</button>
          </div>
          </div>
        </ng-template>
      </td>
    </tr>
  </tbody>
</table>
