#apartamentFeeListTable{
  & tr td{
    width: 90px;
    max-width: 110px;
  }
  & tr td:first-child{
    max-width:45px;
  }
  & tr td:not(:last-child){
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-wrap: break-word;
  }
  & tr td:nth-child(2){
    min-width: 200px;
  }
  & tr td:last-child{
    min-width: 100px;
  }
}
.tbodyLoading{
  text-align: center;
  height: 200px;
}
.spinner{
  color:#5069ee;
}

.wrp{
  border:initial;
  position: relative;
  & .form-select{
    border: 1px solid grey;
  }
  &  .form-control~.form-label{
      position: absolute;
      top:7px;
      background-color: #fff;
      line-height: 11px;
      max-width: 90%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      left: 0.75rem;
      padding-top: 0.37rem;
      padding-left: 3px;
      padding-right: 3px;
      pointer-events: none;
      transform-origin: 0 0;
      transition: all .2s ease-out;
      color: rgba(0,0,0,.6);
      margin-bottom: 0;
  }
  &  .form-control:focus~.form-label{
    top: -2px!important;
    transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
    transition: transform 0.1s ease-in-out;
    background-color: #fff;
  }
}

.form-floating-label{
  top: -2px!important;
  transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
  transition: transform 0.1s ease-in-out;
  background-color: #fff;
}


.sortWrap {
  display: inline-block;
    height: 23px;
    position: relative;
    & > *.active{
      color:red;
    }
  & .sortUp{
    position: absolute;
    top: 0;
  }
  & .sortDown{
    position: absolute;
    bottom:0;
  }
}
.thSort{
  margin-right: 5px;
}
