.moneyTransferTable{
  & .sum{
    display: flex;
    justify-content: space-between;
    max-width: 80px;
  }
  @media (max-width: 500px) {
    th{
      display: none;
    }
    tbody > tr{
      display: block;
      &:nth-child(even){
        background-color: #4167f017;
      }
    }
    td{
      display: inline-block;
      border: none;
      width: 30%;
      &.td_date{
        width:50%;
      }
      &.td_actions{
        text-align: right;
        width:50%;
      }
    }

  }
}
.loadingDiv{
  height: 240px;
  width: 100%;
  text-align: center;
  line-height: 14;
}
