<div class="toast-container">
  <div *ngFor="let message of (messages$ | async)"
  [@inOutAnimation]
  class="toast toast-danger"
  [class.toast-danger]="message.type === 'error'"
  [class.toast-success]="message.type === 'success'"
  [class.toast-warning]="message.type === 'warning'"
  role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <strong class="me-auto">{{ message.header }}</strong>
      <small class="text-muted">{{ message.date | date: 'dd.MM.yyyy' }}</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      {{ message.body }}
    </div>
  </div>


</div>
