<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">{{ loading ? '...' : 'Создать шаблон?' }}</h5>
  <button
    type="button" [disabled]="loading"
    class="btn-close"
    aria-label="Close"
    (click)="modalRef.close()"
  ></button>
</div>
<div class="modal-body">
  <div *ngIf="!loading" class="row gx-3 gy-4">
    <div class="col-12">
      <app-input [control]="getControl(formGroup, 'name')" [label]="'Название'"></app-input>
    </div>
    <div class="col-12">
      <app-input [control]="getControl(formGroup, 'description')" [label]="'Описание'"></app-input>
    </div>
    <div class="col-7">
      <app-input [control]="getControl(formGroup, 'sum')" [mask]="'separator.2'" [label]="'Сумма'"></app-input>
    </div>
    <div class="col-5">
      <select [formControl]="getControl(formGroup, 'currancy')" class="form-select amount__select">
        <option *ngFor="let option of currancyOptions" [value]="option.id">{{ option.name }}</option>
      </select>
    </div>
    <div class="col-12">
      <select [formControl]="getControl(formGroup, 'apartament_id')" class="form-select">
        <option disabled value="null">Квартира</option>
        <option *ngFor="let option of (apartamentOptions$ | async)" [value]="option.id">{{ option.name }}</option>
      </select>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" [disabled]="loading" class="btn btn-outline-secondary" (click)="modalRef.close()">
    Отмена
  </button>
  <button type="button" [disabled]="loading" class="btn btn-outline-primary" (click)="create()">Сохранить</button>
</div>
