<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">{{ loading ? '...' : 'Создать шаблон?' }}</h5>
  <button
    type="button" [disabled]="loading"
    class="btn-close"
    aria-label="Close"
    (click)="modalRef.close()"
  ></button>
</div>
<div class="modal-body">
  <div *ngIf="!loading" class="row gx-3 gy-4">
    <div class="col-12">
      <app-input [control]="name" [label]="'Название'"></app-input>
    </div>
    <div class="col-12">
      <app-input [control]="description" [label]="'Описание'"></app-input>
    </div>
    <div class="col-12">
      <app-input [control]="sum" [mask]="'separator.2'" [label]="'Сумма'"></app-input>
    </div>
    <div class="col-12">
      <select [formControl]="currancy" class="form-select">
        <option disabled value="null">Валюта</option>
        <option *ngFor="let option of currancyOptions" [value]="option.value">{{ option.name }}</option>
      </select>
    </div>
    <div class="col-12">
      <select [formControl]="payVariant" class="form-select">
        <option value="null" disabled>Способ оплаты</option>
        <option *ngFor="let option of payVariantOptions" [value]="option.id">{{ option.name }}</option>
      </select>
    </div>
    <div class="col-12">
      <select [formControl]="organization_id" class="form-select">
        <option disabled value="null">Организация</option>
        <option *ngFor="let option of (organizationOptions$ | async)" [value]="option.id">{{ option.name }}</option>
      </select>
    </div>
    <div class="col-12">
      <select [formControl]="organizationTariff_id" class="form-select">
        <option disabled value="null">Сервис</option>
        <option *ngFor="let option of (organizationTariffOptions$ | async)" [value]="option.id">{{ option.name }}</option>
      </select>
    </div>
    <div class="col-12">
      <select [formControl]="apartament_id" class="form-select">
        <option disabled value="null">Квартира</option>
        <option *ngFor="let option of (apartamentOptions$ | async)" [value]="option.id">{{ option.name }}</option>
      </select>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" [disabled]="loading" class="btn btn-outline-secondary" (click)="modalRef.close()">
    Отмена
  </button>
  <button type="button" [disabled]="loading" class="btn btn-outline-primary" (click)="create()">Сохранить</button>
</div>
