<div class="container">
  <div class="d-flex justify-content-between align-items-center py-3" style="margin-top: 58px;">
    <h1 class="mb-3">Счета</h1>
    <div class="apartament">
      <select [formControl]="apartament" class="form-select">
        <option value="null" disabled>Квартира</option>
        <option *ngFor="let option of apartamentOptions$ | async" [value]="option.id">{{ option.name }}</option>
      </select>
    </div>
    <div class="amount">
      {{ amount | number:'.0-2' }}
      <select [formControl]="currancy" class="form-select amount__select">
        <option *ngFor="let option of currancyOptions" [value]="option.id"
        >{{ option.name }}</option>
      </select>
    </div>
    <div>
      <button (click)="back()" type="button" class="btn btn-outline-secondary me-3 mb-2 mt-2">
        <i class="fas fa-caret-left d-inline d-md-none"></i>
        <span class="d-none d-md-inline">Назад</span>
      </button>
      <button [routerLink]="['new']" type="button" class="btn btn-outline-primary mb-2 mt-2">
        <i class="fas fa-plus d-inline d-md-none"></i>
        <span class="d-none d-md-inline">Добавить</span>
      </button>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body p-0">
          <app-apartament-fee-list
          [_currancy]="currancy.value"
          (amountOut)="setAmount($event)"></app-apartament-fee-list>
        </div>
      </div>
    </div>
  </div>
</div>
