<div class="container">
  <div class="d-flex justify-content-between align-items-center py-3" style="margin-top: 58px;">
    <h1 class="mb-3">Квартиры</h1>
    <div>
      <button (click)="refreshList()" type="button" class="btn btn-outline-secondary me-3 mb-2 mt-2"><i class="fas fa-sync"></i></button>
      <button [routerLink]="'apartament/new'" type="button" class="btn btn-outline-primary mb-2 mt-2">Добавить</button>
    </div>

  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body p-0">
          <app-apartament-list></app-apartament-list>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <i class="fas fa-calculator"></i>
<i class="fas fa-user-friends"></i>
<i class="far fa-calendar-alt"></i>
<i class="fas fa-envelope-open-text"></i>
<i class="fas fa-business-time"></i> -->
