<div class="container">
  <div class="row py-3" style="margin-top: 58px;">

    <div class="col-12 col-md-6 col-lg-4 apartament">
      <label class="apartament__label">
        <i class="fas fa-home d-inline d-md-none"></i>
        <span class="d-none d-md-inline">Квартира</span>
      </label>
      <select [formControl]="apartament_id" class="form-select apartament__select">
        <option *ngFor="let option of apartamentOptions$ | async" [value]="option.id"
        >{{ option.name }}</option>
      </select>
    </div>
    <div class="col-12 col-md-6 col-lg-4 groupBy1 ">
      <label class="groupBy1__label">
        <i class="fas fa-cubes d-inline d-md-none"></i>
        <span class="d-none d-md-inline">Группировать по:</span>
      </label>
      <select [formControl]="groupBy1" class="form-select groupBy1__select">
        <option *ngFor="let option of groupBy1Options" [value]="option.id"
        >{{ option.name }}</option>
      </select>
    </div>
    <div class="col-12 col-md-12 col-lg-4 yearsBefore ">
      <label class="yearsBefore__label">
        <i class="fas fa-balance-scale d-inline d-md-none"></i>
        <span class="d-none d-md-inline">Сравнить:</span>
      </label>
      <select [formControl]="yearsBefore" class="form-select yearsBefore__select">
        <option *ngFor="let option of yearsBeforeOptions" [value]="option.id"
        >{{ option.name }}</option>
      </select>
    </div>
    <div class="col-12 hiddenOrganizations mt-3 ">
      <div class="row hiddenOrganizations__wrapper">
        <ng-template ngFor let-i="index" let-c="count" let-item [ngForOf]="organizations">
          <div class="form-check col-12 col-md-3 hiddenOrganizations__item">
            <input
              mdbCheckbox
              class="form-check-input"
              type="checkbox"
              [title]="item.name"
              [ngModel]="getHiddenOrganizationValue(item.id)"
              [id]="'flexCheckDefault_' + item.id"
              (change)="hideOrganization(item.id)"
            />
            <label class="form-check-label" [for]="'flexCheckDefault_' + item.id"
            [title]="item.name">
              {{ item.name }}
            </label>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row" *ngIf="loading" class="bodyLoading">
    <div class="col-12">
      <div class="spinner-border spinner" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>
  <div class="row">
    <ng-template ngFor let-i="index" let-c="count" let-item [ngForOf]="organizations">
      <div class="col-12 col-lg-6 mb-3" [class.d-none]="!getHiddenOrganizationValue(item.id)">
        <div class="card" style="overflow-x: auto;">
          <div class="card-body p-3">
            <h5 class="card-title">{{ item.name }}</h5>

            <canvas baseChart
            [data]="item.barChartData"
            [options]="{ responsive: true }"
            [plugins]="[]"
            [legend]="true"
            [type]="'bar'">
          </canvas>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>
