<div class="container">
  <div class="d-flex justify-content-between align-items-center py-3" style="margin-top: 58px;">
    <h1 class="">Добавление перевода</h1>
    <div class="topButtons">
      <button (click)="back()" type="button" class="btn btn-outline-secondary me-3">
        <i class="fas fa-caret-left d-inline d-md-none"></i>
        <span class="d-none d-md-inline">Назад</span>
      </button>
      <button (click)="create()" type="button" class="btn btn-outline-primary me-3">
        <i class="far fa-save d-inline d-md-none"></i>
        <span class="d-none d-md-inline">Сохранить</span>
      </button>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-12 col-lg-12 mb-4">
      <div class="card">
        <div class="card-body p-3">
          <div *ngIf="loading" class="cardLoading">
            <div class="spinner-border spinner" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
          <div *ngIf="!loading" class="row gx-3 gy-4">
            <!-- <div class="col-12 col-md-6">
              <app-input [control]="name" [label]="'Название'"></app-input>
            </div> -->

            <div class="col-8 col-md-6">
              <app-input [control]="sum1" [mask]="'separator.2'" [label]="'Исходная сумма'"></app-input>
            </div>
            <div class="col-4 col-md-6">
              <select [formControl]="currancy1" class="form-select">
                <option value="null" disabled>Валюта</option>
                <option *ngFor="let option of currancyOptions" [value]="option.id">{{ option.name }}</option>
              </select>
            </div>

            <div class="col-8 col-md-6">
              <app-input [control]="sum2" [mask]="'separator.2'" [label]="'Сумма перевода'"></app-input>
            </div>
            <div class="col-4 col-md-6">
              <select [formControl]="currancy2" class="form-select">
                <option value="null" disabled>Валюта</option>
                <option *ngFor="let option of currancyOptions" [value]="option.id">{{ option.name }}</option>
              </select>
            </div>

            <div class="col-8 col-md-6">
              <app-input [control]="sum3" [mask]="'separator.2'" [label]="'Сумма перевода'"></app-input>
            </div>
            <div class="col-4 col-md-6">
              <select [formControl]="currancy3" class="form-select">
                <option value="null" disabled>Валюта</option>
                <option *ngFor="let option of currancyOptions" [value]="option.id">{{ option.name }}</option>
              </select>
            </div>

            <!-- <div class="col-12 col-md-6">
              <app-input [control]="sum4" [mask]="'separator.2'" [label]="'Сумма'"></app-input>
            </div>
            <div class="col-12 col-md-6">
              <select [formControl]="currancy4" class="form-select">
                <option value="null" disabled>Валюта</option>
                <option *ngFor="let option of currancyOptions" [value]="option.id">{{ option.name }}</option>
              </select>
            </div> -->



            <div class="col-12 col-md-6 date">
              <label class="date__label">
                <i class="fas fa-home d-inline d-md-none"></i>
                <span class="d-none d-md-inline">Дата</span>
              </label>
              <input mdbInput class="form-control date__input" [formControl]="date" type="date" id="start" name="trip-start">
            </div>


            <div class="col-12 col-md-6">
              <select [formControl]="apartament_id" class="form-select">
                <option value="null" disabled>Квартира</option>
                <option *ngFor="let option of apartamentOptions$ | async" [value]="option.id">{{ option.name }}</option>
              </select>
            </div>
            <div class="col-12">
              <app-input [control]="description" [label]="'Описание'"></app-input>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
