<mdb-form-control>
  <input
    mdbInput
    class="form-control"
    [formControl]="control"
    [id]="id"
    [type]="type"
    [placeholder]="placeholder"
    [readonly]="readonly"
  />
  <label mdbLabel class="form-label" for="id">{{label}}</label>
  <mdb-error
      *ngIf="
      control?.invalid && (control?.dirty || control?.touched)
      "
      >Обязательное поле</mdb-error
    >
    <mdb-success
      *ngIf="
      control?.valid && (control?.dirty || control?.touched)
      "
      >
      <i class="fas fa-check-circle"></i></mdb-success
    >
</mdb-form-control>
