<mdb-form-control>
  <input
    mdbInput matInput
    class="form-control"
    [formControl]="control"
    [value]="_value"
    [id]="id"
    [type]="type"
    [placeholder]="placeholder"
    [readonly]="readonly"

  />

  <label mdbLabel class="form-label" for="id">{{label}}</label>
  <mdb-error
    *ngIf="!noValid && control?.invalid && (control?.dirty || control?.touched)"
    >
      <span *ngIf="control?.errors?.['required']">Обязательное поле</span>
      <span *ngIf="control?.errors?.['pattern']">Неверный формат</span>
    </mdb-error
  >
  <mdb-success
    *ngIf="!noValid && control?.valid && (control?.dirty || control?.touched)"
    >
    <i class="fas fa-check-circle"></i></mdb-success
  >
</mdb-form-control>
