<div class="container">
  <div class="d-flex justify-content-between align-items-center py-3" style="margin-top: 58px;">
    <h1 class="mb-3">{{ apartamentFee_id ? 'Изменение счета' : 'Добавление счета' }}</h1>
    <div class="">
      <button (click)="back()" type="button" class="btn btn-outline-secondary me-3 mb-2 mt-2">Назад</button>

      <button *ngIf="apartamentFee_id" (click)="delete()" type="button" class="btn btn-outline-secondary me-3 mb-2 mt-2">Удалить</button>
      <button *ngIf="apartamentFee_id" (click)="makeCopy()" type="button" class="btn btn-outline-secondary me-3 mb-2 mt-2">Создать копию</button>
      <button *ngIf="apartamentFee_id" (click)="update()" type="button" class="btn btn-outline-primary me-3 mb-2 mt-2">Сохранить</button>

      <button *ngIf="!apartamentFee_id" (click)="create()" type="button" class="btn btn-outline-primary me-3 mb-2 mt-2">Создать</button>
      <button *ngIf="!apartamentFee_id" (click)="createAgain()" type="button" class="btn btn-outline-primary mb-2 mt-2">Создать и повторить</button>
    </div>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-4 mb-4">
      <div class="card">
        <div class="card-body p-3">
          <div *ngIf="loading" class="cardLoading">
            <div class="spinner-border spinner" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
          <div *ngIf="!loading" class="row gx-3 gy-4">
            <div class="col-12">
              <app-input [control]="getControl(formGroup, 'name')" [label]="'Название'"></app-input>
            </div>

            <div class="col-7">
              <app-input [control]="getControl(formGroup, 'sum')" [mask]="'separator.2'" [label]="'Сумма'"></app-input>
            </div>
            <div class="col-5">
              <select [formControl]="getControl(formGroup, 'currancy')" class="form-select amount__select">
                <option *ngFor="let option of currancyOptions" [value]="option.id">{{ option.name }}</option>
              </select>
            </div>
            <div class="col-12">
              <input mdbInput
              class="form-control"
               [formControl]="getControl(formGroup, 'paidDate')" type="date" id="start" name="trip-start">
            </div>

            <div class="col-12">
              <select [formControl]="getControl(formGroup, 'apartament_id')" class="form-select">
                <option value="null" disabled>Квартира</option>
                <option *ngFor="let option of apartamentOptions$ | async" [value]="option.id">{{ option.name }}</option>
              </select>
            </div>
            <div class="col-12">
              <app-input [control]="getControl(formGroup, 'description')" [label]="'Описание'"></app-input>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-5 col-lg-3">
      <div class="card">
        <div class="card-body p-3">
          <div *ngIf="loading" class="cardLoading">
            <div class="spinner-border spinner" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
          <div *ngIf="!loading" class="row gx-3 gy-4">
            <div class="col-12">
              <button
                #popoverTrigger
                type="button"
                class="popoverHiddenTrigger"
                mdbPopoverTitle="Применить выбранный шаблон?"
                [mdbPopover]="template"
              >
              </button>
              <ng-template #template>
                <div class="flexColumnBetweenEnd">
                  Данные шаблона будут засаны в поля формы
                <div class="mt-3">
                  <button class="btn btn-outline-secondary my-1 me-3" (click)="closeTemplateConfirm(false)">Отмена</button>
                  <button class="btn btn-outline-success my-1 me-3" (click)="closeTemplateConfirm(true)">Применить</button>
                  <button class="btn btn-outline-success my-1 " (click)="closeTemplateConfirm(true, true)">Заполнить пустые поля</button>
                </div>
                </div>
              </ng-template>
              <select [formControl]="getControl(formGroup, 'template_id')" class="form-select">
                <option value="null">Шаблон</option>
                <option *ngFor="let option of templateOptions$ | async" [value]="option.id">{{ option.name }}</option>
              </select>
            </div>
            <div class="col-12" *ngIf="allowUpdateTemplate">
              <a (click)="updateTemplateOpenModal()" class="link-secondary cursor">Обновить шаблон</a>
            </div>
            <div class="col-12">
              <div class="form-check form-switch">
                <input
                  mdbCheckbox
                  class="form-check-input"
                  type="checkbox"
                  id="flexSwitchCheckChecked"
                  [(ngModel)]="payDatePrevMonth"
                  (ngModelChange)="setPayDatePrevMonth($event)"
                />
                <label class="form-check-label" for="flexSwitchCheckChecked"
                  >Оплата за прошлый месяц</label
                >
              </div>
            </div>
            <div class="col-6">
              <select [formControl]="getControl(formGroup, 'month')" class="form-select">
                <option value="null" disabled>Месяц</option>
                <option value="1">Январь</option>
                <option value="2">Февраль</option>
                <option value="3">Март</option>
                <option value="4">Апрель</option>
                <option value="5">Май</option>
                <option value="6">Июнь</option>
                <option value="7">Июль</option>
                <option value="8">Август</option>
                <option value="9">Сентябрь</option>
                <option value="10">Октябрь</option>
                <option value="11">Ноябрь</option>
                <option value="12">Декабрь</option>
              </select>
            </div>
            <div class="col-6">
              <select [formControl]="getControl(formGroup, 'year')" class="form-select">
                <option value="null" disabled>Год</option>
                <option *ngFor="let option of yearOptions" [value]="option.id">{{ option.name }}</option>
              </select>
            </div>
            <div class="col-12">
              <div class="form-check form-switch">
                <input
                  mdbCheckbox
                  class="form-check-input"
                  type="checkbox"
                  id="flexSwitchCheckChecked"
                  [formControl]="getControl(formGroup, 'paid')"
                />
                <label class="form-check-label" for="flexSwitchCheckChecked"
                  >Оплачено</label
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-5">
      <div class="card">
        <div class="card-body p-3">
          <div *ngIf="loading" class="cardLoading">
            <div class="spinner-border spinner" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
          <div *ngIf="!loading" class="row gx-3 gy-4">
            <div class="col-12">
              <div class="btn-group mb-2">
                <input
                  mdbRadio
                  type="radio"
                  class="btn-check"
                  name="options"
                  id="option1"
                  autocomplete="off"
                  [checked]="true"
                  [value]="EExchangeRateSource.MONEY_TRANSFER_LIST"
                  [formControl]="getControl(formGroup2, 'radio')"
                />
                <label class="btn btn-secondary" for="option1">Курс из переводов</label>
                <input
                  mdbRadio
                  type="radio"
                  class="btn-check"
                  name="options"
                  id="option2"
                  autocomplete="off"
                  [value]="EExchangeRateSource.EXCHANGE_RATE_LIST"
                  [formControl]="getControl(formGroup2, 'radio')"
                />
                <label class="btn btn-secondary" for="option2">Ежедневный курс</label>
              </div>
              <app-widget-exchange-rate [class.d-none]="getControl(formGroup2, 'radio').value === EExchangeRateSource.MONEY_TRANSFER_LIST"
                [sourceCurrancy]="null"
                [destinationCurrancy]="getControl(formGroup, 'currancy').value"
                [exchangeRateDate]="getControl(formGroup, 'paidDate')?.value"
                (currentDayValue)="setCurrentDayRate($event)"
              ></app-widget-exchange-rate>
              <app-widget-money-transfer [class.d-none]="getControl(formGroup2, 'radio').value === EExchangeRateSource.EXCHANGE_RATE_LIST"
                [destinationCurrancy]="getControl(formGroup, 'currancy').value"
                [date]="getControl(formGroup, 'paidDate').value"
                (selectTransferAway)="selectTransfer($event)"
              ></app-widget-money-transfer>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
