<div class="container">
  <div class="d-flex justify-content-between align-items-center py-3" style="margin-top: 58px;">
    <h1 class="mb-3">Добавление счета</h1>
    <div class="">
      <button (click)="back()" type="button" class="btn btn-outline-secondary me-3">Назад</button>
      <button (click)="create()" type="button" class="btn btn-outline-primary me-3">Сохранить</button>
      <button (click)="createAgain()" type="button" class="btn btn-outline-primary">Сохранить и добавить</button>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-8 col-lg-10 mb-4">
      <div class="card">
        <div class="card-body p-3">
          <div *ngIf="loading" class="cardLoading">
            <div class="spinner-border spinner" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
          <div *ngIf="!loading" class="row gx-3 gy-4">
            <div class="col-12 col-md-6">
              <app-input [control]="name" [label]="'Название'"></app-input>
            </div>
            <div class="col-12 col-md-6">
              <button
              #popoverTrigger
              type="button"
              class="popoverHiddenTrigger"
              mdbPopoverTitle="Применить выбранный шаблон?"
              [mdbPopover]="template"
              >
              </button>
              <ng-template #template>
                <div class="flexColumnBetweenEnd">
                  Данные шаблона будут засаны в поля формы
                <div class="mt-3">
                  <button class="btn btn-outline-secondary me-3" (click)="closeTemplateConfirm(false)">Отмена</button>
                  <button class="btn btn-outline-success" (click)="closeTemplateConfirm(true)">Применить</button>
                </div>
                </div>
              </ng-template>
              <select [formControl]="template_id" class="form-select">
                <option value="null">Шаблон</option>
                <option *ngFor="let option of templateOptions$ | async" [value]="option.id">{{ option.name }}</option>
              </select>
            </div>


            <div class="col-12 col-md-6">
              <div class="form-check form-switch">
                <input
                  mdbCheckbox
                  class="form-check-input"
                  type="checkbox"
                  id="flexSwitchCheckChecked"
                  [formControl]="paid"
                />
                <label class="form-check-label" for="flexSwitchCheckChecked"
                  >Оплачено</label
                >
              </div>
            </div>
            <div class="col-12 col-md-6">
              <app-input [control]="sum" [mask]="'separator.2'" [label]="'Сумма'"></app-input>
            </div>
            <div class="col-12 col-md-4">
              <input  mdbInput
              class="form-control" [class.d-none]="!isPaid" [formControl]="paidDate" type="date" id="start" name="trip-start">
            </div>
            <div class="col-12 col-md-4">
              <select [formControl]="month" class="form-select">
                <option value="null" disabled>Месяц</option>
                <option value="1">Январь</option>
                <option value="2">Февраль</option>
                <option value="3">Март</option>
                <option value="4">Апрель</option>
                <option value="5">Май</option>
                <option value="6">Июнь</option>
                <option value="7">Июль</option>
                <option value="8">Август</option>
                <option value="9">Сентябрь</option>
                <option value="10">Октябрь</option>
                <option value="11">Ноябрь</option>
                <option value="12">Декабрь</option>
              </select>
            </div>
            <div class="col-12 col-md-4">
              <select [formControl]="year" class="form-select">
                <option value="null" disabled>Год</option>
                <option *ngFor="let option of yearOptions" [value]="option.id">{{ option.name }}</option>
              </select>
            </div>

            <div class="col-12 col-md-6">
              <select [formControl]="currancy" class="form-select">
                <option value="null" disabled>Валюта</option>
                <option *ngFor="let option of currancyOptions" [value]="option.id">{{ option.name }}</option>
              </select>
            </div>
            <div class="col-12 col-md-6">
              <select [formControl]="payVariant" class="form-select">
                <option value="null" disabled>Способ оплаты</option>
                <option *ngFor="let option of payVariantOptions" [value]="option.id">{{ option.name }}</option>
              </select>
            </div>



            <div class="col-12 col-md-6">
              <app-input [control]="commission" [mask]="'separator.2'" [label]="'Комиссия'"></app-input>
            </div>

            <div class="col-12">
              <select [formControl]="organization_id" class="form-select">
                <option value="null" disabled>Организация</option>
                <option *ngFor="let option of organizationOptions$ | async" [value]="option.id">{{ option.name }}</option>
              </select>
            </div>
            <div class="col-12 col-md-6">
              <select [formControl]="organizationTariff_id" class="form-select">
                <option disabled value="null">Сервис</option>
                <option *ngFor="let option of organizationTariffOptions$ | async" [value]="option.id">{{ option.name }}</option>
              </select>
            </div>

            <div class="col-12 col-md-6">
              <select [formControl]="apartament_id" class="form-select">
                <option value="null" disabled>Квартира</option>
                <option *ngFor="let option of apartamentOptions$ | async" [value]="option.id">{{ option.name }}</option>
              </select>
            </div>
            <div class="col-12">
              <app-input [control]="description" [label]="'Описание'"></app-input>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 col-lg-2">
      <div class="card">
        <div class="card-body p-3">
          <div class="row row gx-3 gy-4">
            <div class="col-12 col-md-6">
              <div class="form-check form-switch">
                <input
                  mdbCheckbox
                  class="form-check-input"
                  type="checkbox"
                  id="flexSwitchCheckChecked"
                  [(ngModel)]="payDatePrevMonth"
                  (ngModelChange)="setPayDatePrevMonth($event)"
                />
                <label class="form-check-label" for="flexSwitchCheckChecked"
                  >Оплата за прошлый месяц</label
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
.

<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" (click)="openModal({rr:55})">
  Launch demo modal
</button> -->



